.create-todo {

  text-align: center;
  
  .form__item--input {
    display: inline-block;

    .input {
      display: inline-block;
      margin: 10px;
      width: 300px;
    }
  }

  button {
    margin: 10px;
    vertical-align: bottom;
  }

}